.interests-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 100px 0; /* Adjusted bottom margin to create space */
}

.interests-parent {
    max-width: 1000px;
    width: 70%;
}

.interests-card {
    display: flex;
    width: 100%;
    box-shadow: 0 0px 20px -2px #1f2235;
    background-color: var(--white);
    border-radius: 10px;
    overflow: hidden;
}

.interests-photo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 10px;
}

.interest-image {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.fade-in {
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.interests-details {
    width: 100%;
    text-align: justify;
    padding: 30px;
}

.interests-description {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

@media only screen and (max-width: 898px) {
    .interests-photo {
        display: none;
    }
    .interests-details {
        width: 100%;
    }
}

@media only screen and (max-width: 466px) {
    .interests-description {
        font-size: 14px;
    }
}
